# Игнорировать папку с тестовыми файлами
coverage/

# Игнорировать папку с файлами сборки
build/

# Игнорировать все файлы в корне проекта, кроме тех, что начинаются с 'src'
!src/

# Игнорировать все файлы в папке node_modules
node_modules/

# Игнорировать файлы конфигурации
*.config.js
*.config.ts

# Игнорировать все файлы в папке scripts
scripts/
